@use "sass:map";

@function val($map, $keys...) {
  @if nth($keys, 1) == null {
    $keys: remove-nth($keys, 1);
  }

  @each $key in $keys {
    $map: map-get($map, $key);
  }

  @return $map;
}

@function palette($color...) {
  @return val($palette, $color...);
}

@function nav($vars...) {
  @return val($nav, $vars...);
}

@mixin accent_colour() {
  color: palette(accent, fg);
  background-color: palette(accent, bg);

  a {
    color: palette(accent, fg);
  }
}
