$font_base: -apple-system, blinkmacsystemfont, segoe ui, helvetica, arial, sans-serif, apple color emoji, segoe ui emoji,
  segoe ui symbol;
$font_heading: "Poppins", sans-serif;
$font_size: 16pt;

$accent: #8dca31;
$bg: #374244;

$palette: (
  bg: (
    base: $bg,
    darker: darken($bg, 10%),
    lighter: lighten($bg, 10%),
  ),
  fg: #fff,
  fg-bold: #fff,
  fg-light: #f7f7f7,
  border: #e0e0e0,
  accent: (
    bg: $accent,
    fg: #374244,
    darker: darken($accent, 10%),
    lighter: lighten($accent, 10%),
  ),
);
