$font_base: -apple-system, blinkmacsystemfont, segoe ui, helvetica, arial, sans-serif, apple color emoji, segoe ui emoji,
  segoe ui symbol;
$font_heading: "Poppins", sans-serif;

$palette: (
  bg: #374244,
  fg: #f7f7f7,
  fg-bold: #fff,
  fg-light: #f7f7f7,
  border: #e0e0e0,
  accent: (
    bg: #8dca31,
    fg: #fff,
    darker: darken(#8dca31, 10%),
    lighter: lighten(#8dca31, 10%),
  ),
);
