$font_base: "Raleway", sans-serif;
$font_heading: "IM Fell DW Pica SC", serif;

$palette: (
  bg: #374244,
  fg: #f7f7f7,
  fg-bold: #f7f7f7,
  fg-light: #f7f7f7,
  border: #e0e0e0,
  accent: (
    bg: #8dca31,
    fg: #fff,
  ),
);
