@import "vars";
@import "mixins";
@import "blocks/flex_block";
@import "blocks/infopod";
@import "blocks/callout";

:root {
    --max-width: 1320px;
}

.container {
    max-width: var(--max-width);
    margin: 0 auto;
}
