.breadcrumbs {
  @include in-size((xxs, xs)) {
    & {
      display: none;
    }
  }

  ul {
    li {
      margin: 0;
      padding: 0;
    }

    display: flex;
    margin: 1rem 0;
    padding: 0;

    li {
      list-style: none;
      font-size: 0.75em;

      & + li {
        &::before {
          content: "\00BB";
          padding: 0 0.5em;
        }
      }
    }
  }
}
