#footer {
  .slogan {
    @include accent_colour();
    padding: 1.5em 0;
    p {
      text-align: center;
      font-size: clamp(1.5rem, 7.5vw, 2rem);
      line-height: 1.35em;

      & + p {
        margin-top: 0.5em;
      }
    }
    a {
      white-space: nowrap;
    }
  }
  .footer {
    padding: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;

    justify-content: space-between;
  }

  .socials {
    font-size: 2rem;
    a {
      svg {
        fill: palette(accent, bg);
      }
      &:hover {
        svg {
          fill: palette(fg);
        }
      }
    }
  }

  .copy {
    font-size: 0.9rem;
    line-height: 1.25em;
  }
}
