#footer {
  .slogan {
    @include accent_colour();
    text-align: center;
    font-size: 2rem;
    line-height: 1.35em;
    padding: 3rem 0;
    a {
      white-space: nowrap;
    }
  }
  .footer {
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .socials {
    font-size: 2rem;
    a {
      svg {
        fill: palette(accent, bg);
      }
      &:hover {
        svg {
          fill: palette(fg);
        }
      }
    }
  }

  .copy {
    font-size: 1rem;
  }
}
