.form_builder {
  form {
    .field-wrapper {
      label {
        display: block;
      }

      input,
      textarea,
      select {
        width: 100%;
        color: palette(fg);
        font-family: $font_base;
        font-size: $font_size;
        font-weight: 300;
        line-height: 1.65em;
      }

      select {
        option {
          background: palette(bg, base);
          &:hover {
            background-color: palette(accent, bg);
          }
        }
      }

      margin: 0 0 1rem;
      padding: 0;

      &.field-checkbox {
        display: flex;
        flex-direction: row;
        input,
        label {
          width: auto;
          display: inline-block;
          line-height: 1.5em;
        }
        label {
          flex: 1;
        }
        input {
          height: 1.5em;
          margin: 0 0.5em 0 0;
        }
      }
    }

    input,
    textarea,
    select {
      background: none;
      border: 1px solid palette(accent, bg);
      padding: 0.25em 0.5em;
      box-sizing: border-box;

      &:focus {
        outline: none;
      }
    }

    button,
    input[type="button"],
    input[type="submit"] {
      background: palette(accent, bg);
      color: palette(accent, fg);
      font-weight: bold;
    }
  }

  padding-bottom: 2rem;

  .helptext {
    font-size: 0.9rem;
    line-height: 1.2em;
  }
}
