.form_builder {
  h2 {
    margin-top: 0;
  }

  form {
    p {
      label {
        display: block;
      }

      input,
      textarea {
        width: 100%;
      }

      margin: 0 0 1rem;
      padding: 0;
    }

    input,
    textarea,
    select {
      background: none;
      border: 1px solid palette(accent, bg);
      padding: 0.25em 0.5em;
      box-sizing: border-box;

      &:focus {
        outline: none;
      }
    }

    button,
    input[type="button"],
    input[type="submit"] {
      background: palette(accent, bg);
      color: palette(accent, fg);
      font-weight: bold;
    }
  }

  padding-bottom: 2rem;

  .helptext {
    font-size: 0.9rem;
    line-height: 1.2em;
  }
}
