header {
  padding: 2vw 0;
  display: flex;
  width: 100%;

  img {
    display: block;
    padding: 1rem;
    margin: auto;
    box-sizing: border-box;
  }
}

@media screen and (max-width: $mobile_point) {
  .header-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 1em 0;
    box-sizing: border-box;

    max-width: var(--max-width);
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
    margin: auto;

    .nav-wrapper {
      min-width: 5vw;
    }

    img,
    .container {
      margin: 0;
      padding: 0;
    }
    header {
      max-width: 80vw;
    }

    .nav-wrapper {
      margin-left: 2rem;
    }
  }
}
