dialog.lightbox:has(img) {
  img {
    max-width: calc(100vw - 3.5rem);
    max-height: calc(100vh - 3.5rem);
    min-width: 10rem;
    min-height: 10rem;
    height: auto;
    width: auto;
    display: block;
    padding: 0;
    margin: 0;
    background: palette(bg, base);
    background: linear-gradient(
      45deg,
      palette(bg, base) 0%,
      lighten(palette(bg, base), 15%) 50%,
      darken(palette(bg, base), 25%) 100%
    );
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
  }

  button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: palette(fg);
    line-height: 1em;
    font-size: 2rem;
    text-shadow: 0px 0px 0.2em black;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0 0.15em;
    margin: 0;
  }
}


@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
