.logo {
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 575px;
    margin: auto;
    @media screen and (max-width: $mobile_point) {
        margin: 0;
    }

    $logo-width: 18%;

    .logo-animation {
        max-width: $logo-width;
        flex: 1;
        position: relative;

        .inner {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }

    .logo-text {
        padding-left: 1.25rem;
        flex: 1;

    }

    img, svg {
        max-width: 100%;
        padding: 0;
        margin: 0;
    }
}
