@use "sass:math";

$swap_point: 768px;
$mobile_width: 275px;

.nav-wrapper {
  .nav-button {
    $icon_color: palette(accent, bg);
    $icon_size: 1rem;
    $icon_gap: math.div($icon_size, 2);
    $button_height: ($icon_size * 3) + ($icon_gap * 5);
    $button_width: $icon_size * 3;
    width: $button_width;
    height: $button_height;
    padding: 0;
    border: none;
    background: none;

    position: absolute;
    top: 1em;
    right: 1em;

    &:focus {
      background: none;
    }

    .nav-icon {
      display: inline-block;
    }

    .nav-icon {
      text-indent: -99999px;
      position: relative;
      width: $icon_size;
      height: $icon_size;
      background-color: $icon_color;
      border-radius: 50%;
      top: ($icon_size + $icon_gap) + ($icon_gap * 1.5);
      left: math.div($button_width - $icon_size, 2);

      &:before,
      &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0px;
        background-color: inherit;
        border-radius: inherit;
      }

      &:before {
        top: -($icon_size + $icon_gap);
      }

      &:after {
        top: ($icon_size + $icon_gap);
      }
    }
  }

  input {
    display: none;
  }
  @media screen and (min-width: ($swap_point - 1px)) {
    label,
    .mobile-title {
      display: none;
    }
  }
}

nav {
  &.main {
    ul {
      &.nav {
        @extend .container;
      }
      li {
        list-style: none;
      }
    }

    @media screen and (min-width: ($swap_point - 1px)) {
      $border-size: 1px;
      border-bottom: 0.5em solid palette(accent, bg);

      a {
        position: relative;
        text-decoration: none;
        border: none;
        color: palette(accent, fg);
        font-weight: 300;
      }

      .active {
        > a {
          font-weight: 600;
          color: palette(fg);
          &::before {
            position: absolute;
            bottom: -0.9em;
            left: calc(50% - 0.5em);
            content: " ";
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 0.5em 0.5em 0.5em;
            border-color: transparent transparent palette(accent, bg) transparent;
          }
        }
      }

      ul {
        padding: 0 0 0.5em 0;
        margin: 0;
        display: flex;
        justify-content: space-between;
        li {
          display: block;
          padding: 0;
          margin: 0;
          list-style: none;
          position: relative;

          &.has-submenu {
            padding-right: 1.5em;
            &::after {
              display: inline;
              content: " ";
              position: absolute;
              right: 0;
              top: calc(50% - 0.25em);
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 0.5em 0.5em 0 0.5em;
              border-color: palette(accent, bg) transparent transparent transparent;
            }

            &:hover {
              > ul {
                display: block;
              }
            }

            ul {
              font-size: 1rem;
              display: none;
              position: absolute;
              z-index: 9999;
              background: palette(bg, base);
              border: $border-size solid palette(accent, bg);
              padding: 0;
              margin: 0;
              box-shadow: 0 6px 12px rgb(0 0 0 / 18%);

              ul {
                left: calc(100% - $border-size);
                top: -1px;
              }

              .active {
                > div > a {
                  background: palette(accent, bg);
                  &::before {
                    content: none;
                  }
                }
              }

              li {
                padding: 0;
                margin: 0;

                &.has-submenu {
                  &::after {
                    display: inline;
                    content: " ";
                    position: absolute;
                    right: 0.5em;
                    top: calc(50% - 0.5em);
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 0.5em 0 0.5em 0.5em;
                    border-color: transparent transparent transparent palette(accent, bg);
                  }

                  &.active {
                    &::after {
                      border-color: transparent transparent transparent palette(bg, base);
                    }
                  }
                }

                &:hover {
                  background: palette(accent, bg);
                }

                a {
                  padding: 0.35em 1.1em;
                  display: block;
                  white-space: nowrap;

                  &::before {
                    position: relative;
                  }
                }
              }
            }
          }
        }
      }
    }
    @media screen and (max-width: $swap_point) {
      ul.nav {
        transform: translateX($mobile_width);
        transition: all 0.5s ease;
        padding: 0;
        margin: 0;
      }

      &::before {
        opacity: 0;
        z-index: 9999;
        content: " ";
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 100%;
        background: rgba(0, 0, 0, 0.5);
      }

      input:checked + & {
        &::before {
          animation: fadeIn 0.5s ease-in-out forwards;
        }

        ul.nav {
          transform: translateX(0px);
        }
      }

      a {
        text-decoration: none;
        border-bottom: none;
      }

      label {
        position: relative;
        font-size: 0.75rem;
        $size: 1em;
        $width: $size * 4;
        width: $width;
        &::before {
          position: absolute;
          content: " ";
          width: 0;
          height: 0;
          left: math.div($width - ($size * 2), 2);
          top: calc(50% - 0.5em);
          border-style: solid;
          border-width: $size $size 0 $size;
          border-color: palette(accent, bg) transparent transparent transparent;
        }

        span {
          display: none;
        }
      }

      ul {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        position: static;
        padding: 0;
        margin: 0;

        ul {
          display: none;
        }

        input:checked + ul {
          display: flex;
        }
      }

      & > ul {
        box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
        background: palette(bg, base);
        position: fixed;
        overflow-y: auto;
        top: 0;
        right: 0;
        bottom: 0;
        width: $mobile_width;
        z-index: 10003;
        height: 100%;

        ul {
          background: lighten(palette(bg, base), 10%);
          ul {
            background: lighten(palette(bg, base), 20%);
            ul {
              background: lighten(palette(bg, base), 30%);
              ul {
                background: lighten(palette(bg, base), 40%);
                ul {
                  background: lighten(palette(bg, base), 50%);
                }
              }
            }
          }
        }

        li {
          padding: 0;

          div {
            border-bottom: 1px solid palette(accent, bg);
            display: flex;
          }

          a {
            flex: 1;
            padding: 0.35em 1.1em;
            display: block;
            white-space: nowrap;
            color: palette(fg);

            font-size: 1rem;
          }

          &.active {
            > div > a {
              font-weight: 600;
              text-decoration: underline;
            }
          }
        }
        &.nav {
          .mobile-title {
            background: palette(accent, bg);
            padding: 0.5em 1em;
            font-weight: bold;
            display: flex;
            align-items: center;
            span {
              flex: 1;
              display: inline;
              line-height: 1em;
              padding: 0;
              margin: 0;
            }

            label {
              overflow: hidden;
              position: relative;
              border: none;
              padding: 0;
              width: 2em;
              height: 2em;
              background: transparent;
              color: palette(accent, fg);
              font: inherit;
              text-indent: 100%;
              cursor: pointer;
              display: block;

              &:before,
              &:after {
                $width: 0.25em;
                border: none;
                position: absolute;
                top: 15%;
                left: calc(50% - math.div($width, 2));
                width: $width;
                height: 70%;
                transform: rotate(45deg);
                background: currentColor;
                content: "";
              }

              &:after {
                transform: rotate(-45deg);
              }
            }
          }
        }
      }
    }
  }
}

@keyframes fadeIn {
  0% {
    left: 100%;
    opacity: 0;
  }
  1% {
    left: 0;
    opacity: 0;
  }
  100% {
    left: 0%;
    opacity: 1;
  }
}
