@use "sass:math";

nav {
  &.main {
    $border-size: 1px;

    border-bottom: 0.5em solid palette(accent, bg);
    a {
      position: relative;
      text-decoration: none;
      border: none;
      color: palette(accent, fg);
      font-weight: 300;
    }

    .active {
      > a {
        font-weight: 600;
        color: palette(fg);
        &::before {
          position: absolute;
          bottom: -0.9em;
          left: calc(50% - 0.5em);
          content: " ";
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 0.5em 0.5em 0.5em;
          border-color: transparent transparent palette(accent, bg) transparent;
        }
      }
    }

    ul {
      &.nav {
        @extend .container;
      }

      padding: 0 0 0.5em 0;
      margin: 0;
      display: flex;
      justify-content: space-between;
      li {
        display: block;
        padding: 0;
        margin: 0;
        list-style: none;
        position: relative;

        &.has-submenu {
          padding-right: 1.5em;
          &::after {
            display: inline;
            content: " ";
            position: absolute;
            right: 0;
            top: calc(50% - 0.25em);
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0.5em 0.5em 0 0.5em;
            border-color: palette(accent, bg) transparent transparent transparent;
          }

          &:hover {
            > ul {
              display: block;
            }
          }

          ul {
            font-size: 1rem;
            display: none;
            position: absolute;
            z-index: 9999;
            background: palette(bg);
            border: $border-size solid palette(accent, bg);
            padding: 0;
            margin: 0;
            box-shadow: 0 6px 12px rgb(0 0 0 / 18%);

            ul {
              left: calc(100% - $border-size);
              top: -1px;
            }

            .active {
              > a {
                background: palette(accent, bg);
                &::before {
                  content: none;
                }
              }
            }

            li {
              padding: 0;
              margin: 0;

              &.has-submenu {
                &::after {
                  display: inline;
                  content: " ";
                  position: absolute;
                  right: 0.5em;
                  top: calc(50% - 0.5em);
                  width: 0;
                  height: 0;
                  border-style: solid;
                  border-width: 0.5em 0 0.5em 0.5em;
                  border-color: transparent transparent transparent palette(accent, bg);
                }

                &.active {
                  &::after {
                    border-color: transparent transparent transparent palette(bg);
                  }
                }
              }

              &:hover {
                background: palette(accent, bg);
              }

              a {
                padding: 0.35em 1.1em;
                display: block;
                white-space: nowrap;

                &::before {
                  position: relative;
                }
              }
            }
          }
        }
      }
    }

    @media screen and (max-width: 768px) {
      &::before {
        z-index: 9999;
        content: " ";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.5);
      }

      ul {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
      }

      & > ul {
        box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
        background: palette(bg);
        position: fixed;
        overflow-y: auto;
        top: 0;
        right: 0;
        bottom: 0;
        width: 275px;
        z-index: 10003;
        height: 100%;

        li {
          padding: 0.5em 1em;

          &.active {
            a {
              &::before {
                content: none;
              }
            }
          }

          &.has-submenu {
            ul {
              display: flex;
              position: static;

              padding: 0;
              margin: 0;
            }
          }
        }

        &.nav {
          &::before {
            content: "Menu";
            background: palette(accent, bg);
            padding: 0.5em 1em;
            font-weight: bold;
          }
        }
      }
    }
  }
}
