@use "sass:math";

.template-project {
  $slider-width: 640px;
  $slider-height: 427px;
  .slider {
    width: 100%;
    height: auto;
    max-width: $slider-width;
    padding-bottom: 1em;

    .sizer {
      width: 100%;
      padding-top: math.div($slider-height, $slider-width) * 100%;

      img {
        width: $slider-width;
        max-height: $slider-height;
      }
    }

    .slide-nav {
      @media screen and (max-width: $mobile_point) {
        margin-bottom: -1em;
      }
    }
  }
}
