.slider {
    position: relative;
    $zindex_base: 1;
    $zindex_active: $zindex_base + 1;
    $zindex_nav: $zindex_active + 1;

    .slide {
        display: block;
        transition: 0.2s all linear;
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
        z-index: $zindex_base;
    }

    button {
        padding: 0;
        margin: 0;
        background: none;
        border: none;
        display: block;
        width: 100%;
        height: 100%;

        &:focus-visible, &:focus, &:active {
            border: none;
            outline: none;
        }

        img {
            cursor: pointer;
        }
    }

    input {
        display: none;
    }

    input:checked + .slide {
        opacity: 1;
        z-index: $zindex_active;
    }

    .slide-nav {
        width: 100%;
        text-align: center;
        letter-spacing: 0.25rem;

        label {
            position: relative;
            z-index: $zindex_nav;
            line-height: 1em;
            display: inline-block;
            color: palette(fg);
            font-size: min(4rem, max(3vw, 2.5rem));
            text-shadow: 0px 0px 1rem black;
            cursor: pointer;
        }
    }

    img {
        max-width: 100%;
        height: auto;
        cursor: pointer;
        border: 0.1em solid palette(accent, bg);
        box-sizing: border-box;
    }

    @for $i from 1 through 30 {
        input#slide-#{$i}:checked ~ .slide-nav .slide-label-#{$i} {
            color: palette(accent, bg);
        }
    }
}
