{% load static wagtailcore_tags wagtailuserbar navigation_tags %}

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        {% if page.is_site_root %}
            <script defer src="https://cdnjs.cloudflare.com/ajax/libs/lottie-web/5.9.4/lottie.min.js" integrity="sha512-ilxj730331yM7NbrJAICVJcRmPFErDqQhXJcn+PLbkXdE031JJbcK87Wt4VbAK+YY6/67L+N8p7KdzGoaRjsTg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        {% endif %}
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% wagtail_site as current_site %}
                {% if current_site and current_site.site_name %}- {{ current_site.site_name }}{% endif %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="dns-prefetch" href="https://fonts.googleapis.com/" >

        <link rel="stylesheet" type="text/css" href="{% static 'css/rhgs.css' %}">

        {% block extra_css %}
        {% endblock %}

        {% include "favicon.html" %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}

        <div class="header-wrapper">
            <header class="container">
                {% get_site_root as site_root %}
                <a class="logo" href="{% pageurl site_root %}">
                    <div class="logo-animation">
                        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIcAAADICAQAAABo4Do4AAAA/UlEQVR42u3QMQEAAAwCoNm/9A4fQ0AEcowo0KFDhw4dOnTo0KFDhw4dOnTo0KFDBzp06NChQ4cOHTp06NChQ4cOHTp06NCBDh06dOjQoUOHDh06dOjQoUOHDh06dKBDhw4dOnTo0KFDhw4dOnTo0KFDhw4d6NChQ4cOHTp06NChQ4cOHTp06NChQwc6dOjQoUOHDh06dOjQoUOHDh06dOjQgQ4dOnTo0KFDhw4dOnTo0KFDhw4dOtChQ4cOHTp06NChQ4cOHTp06NChQ4cOdOjQoUOHDh06dOjQoUOHDh06dOjQoQMdOnTo0KFDhw4dOnTo0KFDhw4dOnTooB72UQDJtZt4swAAAABJRU5ErkJggg==" width="135" height="200" alt="Spacer" />
                        <div class="inner">
                            {% if not page.is_site_root %}
                                {% include "logo.svg" %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="logo-text">
                        {% include "logo-text.svg" %}
                    </div>
                </a>
            </header>
            {% include "header.html" %}
        </div>
        {% block header %}{% endblock %}
        {% block breadcrumbs %}{% include "breadcrumbs.html" %}{% endblock %}
        {% block content %}{% endblock %}

        {% include "footer.html" %}

        {% block extra_js %}
        {% endblock %}

        {% if page.is_site_root %}
            <script>
                document.addEventListener('readystatechange', () => {
                    if (document.readyState == "complete") {
                        lottie.loadAnimation({
                            container: document.querySelector('.logo-animation .inner'),
                            renderer: 'svg',
                            loop: false,
                            autoplay: true,
                            path: '{% static 'logo/logo.json' %}',
                        });
                    }
                });
            </script>
        {% endif %}
    </body>
</html>
