{% load cssmodules wagtailcore_tags %}
{% cssmodule "layout.module.css" as layout %}
{% cssmodule "breadcrumbs.module.css" as breadcrumbs %}

<div {% class breadcrumbs.breadcrumbs layout.container %}>
    {% if self.get_ancestors|length > 1 %}
        <ul>
            {% for page in self.get_ancestors %}
                {% if page.is_root == False %}
                    <li><a aria-label="{{ page.title }}" href="{% pageurl page %}">{{ page.title }}</a></li>
                {% endif %}
            {% endfor %}

            <li>{{ self.title }}</li>
        </ul>
    {% endif %}
</div>
