<div id="footer">
    <div class="slogan">
        <div class="container">
            Are you ready to take your garden to the next level?<br />
            Call us on <a href="tel:{{ settings.pages.ContactSettings.phone_number }}">{{ settings.pages.ContactSettings.phone_number }}</a>
        </div>
    </div>

    <div class="container footer">
        <div class="socials">
            <a href="{{ settings.pages.ContactSettings.facebook }}" target="_blank">
                {% include "icons/facebook.svg" %}
            </a>
            <a href="{{ settings.pages.ContactSettings.instagram }}" target="_blank">
                {% include "icons/instagram.svg" %}
            </a>
        </div>
        <div class="copy">
            © R H Garden Design. All rights reserved
        </div>
    </div>
</div>
