{% load navigation_tags %}

{% block main_navigation %}
    <div class="nav-wrapper">
        <label for="main-nav-checkbox" class="nav-button"><span class="nav-icon">Open Nav</span></label>
        <input type="checkbox" id="main-nav-checkbox" />
        <nav class="main" role="navigation" aria-label="Primary site navigation">
            <ul class="nav">
                <li class="mobile-title"><span>Menu</span><label for="main-nav-checkbox" >close</label></li>
                {% get_site_root as site_root %}
                {% top_menu parent=site_root calling_page=self %}
                <li class="item socials">
                    <div>
                        {% include "socials.html" %}
                    </div>
                </li>
            </ul>
        </nav>
    </div>
{% endblock %}
