{% if settings.pages.SiteSettings.facebook %}
    <a aria-label="Facebook" href="{{ settings.pages.SiteSettings.facebook }}" rel="noopener noreferrer" target="_blank">
        {% include "icons/facebook.svg" %}
    </a>
{% endif %}

{% if settings.pages.SiteSettings.instagram %}
    <a aria-label="Instagram" href="{{ settings.pages.SiteSettings.instagram }}" rel="noopener noreferrer" target="_blank">
        {% include "icons/instagram.svg" %}
    </a>
{% endif %}

{% if settings.pages.SiteSettings.checkatrade %}
    <a aria-label="Checkatrade" href="{{ settings.pages.SiteSettings.checkatrade }}" rel="noopener noreferrer" target="_blank">
        {% include "icons/checkatrade.svg" %}
    </a>
{% endif %}
