.footer {
    .slogan {
        color: var(--accent-fg);
        background-color: var(--accent);
        padding: 1.5em 0;

        p {
            text-align: center;
            font-size: clamp(1.472rem, 0.695vw + 1.333rem, 1.75rem);
            line-height: 1.35em;

            & + p {
                margin-top: 0.5em;
            }
        }

        a {
            color: var(--accent-fg);
            white-space: nowrap;
        }
    }

    .bar {
        padding: 1rem 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 1rem;
        justify-content: space-between;
    }

    .socials {
        font-size: clamp(1.583rem, 1.0425vw + 1.3745rem, 2rem);

        a {
            svg {
                fill: var(--accent);
            }

            &:hover svg {
                fill: var(--fg);
            }
        }
    }

    .copy {
        font-size: clamp(0.917rem, -1.0425vw + 1.1255rem, 0.5rem);
        line-height: 1.25em;
    }
}
