.formBuilder {
    padding-bottom: 2rem;

    form {
        .field {
            margin: 0 0 1rem;
            padding: 0;

            label {
                display: block;
            }

            input,
            textarea,
            select {
                width: 100%;
                color: var(--fg);
                font-family: var(--font-base);
                font-size: clamp(1.028rem, -0.695vw + 1.167rem, 0.75rem);
                font-weight: 300;
                line-height: 1.75em;
            }

            select option {
                background: var(--bg);

                &:hover {
                    background-color: var(--accent);
                }
            }

            &.checkbox {
                display: flex;
                flex-direction: row;

                input,
                label {
                    width: auto;
                    display: inline-block;
                    line-height: 1.5em;
                }

                label {
                    flex: 1;
                }

                input {
                    height: 1.5em;
                    margin: 0 0.5em 0 0;
                }
            }
        }

        input,
        textarea,
        select {
            background: none;
            border: 1px solid var(--accent);
            padding: 0.25em 0.5em;
            box-sizing: border-box;

            &:focus {
                outline: none;
            }
        }

        button,
        input[type="button"],
        input[type="submit"] {
            color: var(--accent-fg);
            background-color: var(--accent);
            font-weight: bold;
        }
    }

    :global(.helptext) {
        font-size: clamp(1.139rem, -0.3475vw + 1.2085rem, 1rem);
        line-height: 1.2em;
    }
}
