@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
.container, .template-404 h1,
.template-404 h2, nav.main ul.nav, .block-InfoPod,
.block-Paragraph {
  max-width: var(--max-width);
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
  margin: 0 auto;
  box-sizing: border-box;
}
.container .container, .template-404 h1 .container,
.template-404 h2 .container, .container .template-404 h1, .template-404 .container h1, .template-404 h1 h1,
.template-404 h2 h1,
.container .template-404 h2,
.template-404 .container h2,
.template-404 h1 h2,
.template-404 h2 h2, nav.main ul.nav .container, nav.main ul.nav .template-404 h1, .template-404 nav.main ul.nav h1,
nav.main ul.nav .template-404 h2,
.template-404 nav.main ul.nav h2, .container nav.main ul.nav, .template-404 h1 nav.main ul.nav,
.template-404 h2 nav.main ul.nav, nav.main .container ul.nav, nav.main .template-404 h1 ul.nav, .template-404 nav.main h1 ul.nav,
nav.main .template-404 h2 ul.nav,
.template-404 nav.main h2 ul.nav, nav.main ul.nav ul.nav, .block-InfoPod .container, .block-InfoPod .template-404 h1, .template-404 .block-InfoPod h1,
.block-InfoPod .template-404 h2,
.template-404 .block-InfoPod h2, .block-InfoPod nav.main ul.nav, nav.main .block-InfoPod ul.nav, .container .block-InfoPod, .template-404 h1 .block-InfoPod,
.template-404 h2 .block-InfoPod, nav.main ul.nav .block-InfoPod, .block-InfoPod .block-InfoPod,
.block-Paragraph .container,
.block-Paragraph .template-404 h1,
.template-404 .block-Paragraph h1,
.block-Paragraph .template-404 h2,
.template-404 .block-Paragraph h2,
.block-Paragraph nav.main ul.nav,
nav.main .block-Paragraph ul.nav,
.block-Paragraph .block-InfoPod {
  padding-left: 0;
  padding-right: 0;
}

html {
  font-size: 1em;
}

body {
  font-family: -apple-system, blinkmacsystemfont, segoe ui, helvetica, arial, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol;
  font-weight: 300;
  line-height: 1.65em;
  color: #fff;
}

p {
  margin-bottom: 1rem;
  font-size: 17.6px;
  font-size: 1.1rem;
  font-size: clamp(17.6px, 0.375vw + 16.4px, 20px);
  font-size: clamp(1.1rem, 0.375vw + 1.025rem, 1.25rem);
  letter-spacing: 0.005em;
  line-height: 1.5em;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 3rem 0 1.38rem;
  font-weight: 500;
  line-height: 1.3;
  font-family: "Poppins", sans-serif;
}

h1 {
  margin-top: 0;
  font-size: 2.050088rem;
  font-size: clamp(2.050088rem, 2.50478vw + 1.549132rem, 3.052rem);
}

h2 {
  font-size: 1.778804rem;
  font-size: clamp(1.778804rem, 1.65549vw + 1.447706rem, 2.441rem);
}

h3 {
  font-size: 1.562132rem;
  font-size: clamp(1.562132rem, 0.97717vw + 1.366698rem, 1.953rem);
}

h4 {
  font-size: 1.388972rem;
  font-size: clamp(1.388972rem, 0.43507vw + 1.301958rem, 1.563rem);
}

h5 {
  font-size: 1.25rem;
  font-size: clamp(1.25rem, 0vw + 1.25rem, 1.25rem);
}

small,
.text_small {
  font-size: 0.8rem;
}

.flex_block,
.flex_stream {
  display: flex;
}
.flex_block .container, .flex_block .template-404 h1, .template-404 .flex_block h1,
.flex_block .template-404 h2,
.template-404 .flex_block h2, .flex_block nav.main ul.nav, nav.main .flex_block ul.nav, .flex_block .block-InfoPod,
.flex_stream .container,
.flex_stream .template-404 h1,
.template-404 .flex_stream h1,
.flex_stream .template-404 h2,
.template-404 .flex_stream h2,
.flex_stream nav.main ul.nav,
nav.main .flex_stream ul.nav,
.flex_stream .block-InfoPod {
  flex: 1;
  box-sizing: border-box;
  max-width: none;
  margin: 2em;
  width: 100%;
}

.flex_stream > .container:first-child, .template-404 .flex_stream > h1:first-child,
.template-404 .flex_stream > h2:first-child, nav.main .flex_stream > ul.nav:first-child, .flex_stream > .block-InfoPod:first-child {
  margin-left: 0;
}
.flex_stream > .container:last-child, .template-404 .flex_stream > h1:last-child,
.template-404 .flex_stream > h2:last-child, nav.main .flex_stream > ul.nav:last-child, .flex_stream > .block-InfoPod:last-child {
  margin-right: 0;
}

@media (max-width: 576px) {
  .flex_stream {
    flex-direction: column;
    margin-bottom: var(--container-padding);
  }
  .flex_stream > .container, .template-404 .flex_stream > h1,
.template-404 .flex_stream > h2, nav.main .flex_stream > ul.nav, .flex_stream > .block-InfoPod {
    margin: 0;
    width: 100%;
  }
}
.block-InfoPod .flex_block {
  justify-content: space-around;
  flex-wrap: wrap;
}
@media (max-width: 992px) {
  .block-InfoPod .flex_block {
    flex-direction: column;
  }
}
.block-InfoPod .infopod {
  box-sizing: border-box;
  max-width: 30%;
  display: flex;
  padding: 2em 0;
  flex-direction: column;
  gap: min(4vw, 2em);
}
.block-InfoPod .infopod > div {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.block-InfoPod .infopod > div + div {
  flex: 1;
}
.block-InfoPod .infopod a, .block-InfoPod .infopod .project-pods .pod span, .project-pods .pod .block-InfoPod .infopod span {
  margin-top: 1em;
}
@media (max-width: 374px) {
  .block-InfoPod .infopod {
    max-width: 100%;
  }
  .block-InfoPod .infopod div,
.block-InfoPod .infopod p,
.block-InfoPod .infopod h3 {
    text-align: center;
  }
}
@media (min-width: 375px) and (max-width: 992px) {
  .block-InfoPod .infopod {
    flex-direction: row;
    max-width: 100%;
  }
  .block-InfoPod .infopod div {
    text-align: left;
  }
}
@media (max-width: 576px) {
  .block-InfoPod .infopod picture {
    margin: 0 auto;
    max-width: 20vw;
  }
}
.block-InfoPod picture {
  display: block;
  margin: auto;
  box-sizing: content-box;
  background: #8dca31;
  height: auto;
  width: 64px;
  max-width: 100%;
  padding: 0.5em;
  display: block;
  border-radius: 50%;
  border: solid 3px #374244;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.18);
}
.block-InfoPod picture img {
  display: block;
  margin: auto;
}
.block-InfoPod p {
  flex: 1;
  text-align: center;
  padding: 0;
  margin: 0;
  line-height: 1.5em;
}
@media (max-width: 992px) {
  .block-InfoPod p {
    text-align: left;
  }
}
.block-InfoPod h3 {
  margin-top: 0;
  margin-bottom: clamp(0.75rem, 1vw, 1.25rem);
  text-align: center;
}
@media (max-width: 992px) {
  .block-InfoPod h3 {
    text-align: left;
  }
}
.block-InfoPod ul {
  display: flex;
  padding: 0;
  margin: 0;
}
.block-InfoPod ul li {
  flex: 1;
}
.block-InfoPod a, .block-InfoPod .project-pods .pod span, .project-pods .pod .block-InfoPod span {
  display: inline-block;
  margin: 0 auto;
}

.block-Callout {
  box-shadow: inset 0 0 min(10vw, 150px) #000;
  padding: 3rem 0;
  text-align: center;
}
.block-Callout h2,
.block-Callout p {
  padding: 0;
  margin: 0;
}
.block-Callout hr {
  border-top: 1px dotted #8dca31;
  margin: 1em 0;
}

.socials,
.nav-socials {
  display: flex;
  gap: 0.75em;
}
.socials a, .socials .project-pods .pod span, .project-pods .pod .socials span,
.nav-socials a,
.nav-socials .project-pods .pod span,
.project-pods .pod .nav-socials span {
  border: none;
}
.socials a svg, .socials .project-pods .pod span svg, .project-pods .pod .socials span svg,
.nav-socials a svg,
.nav-socials .project-pods .pod span svg,
.project-pods .pod .nav-socials span svg {
  width: auto;
  height: 1em;
  fill: #8dca31;
}
.socials a:hover svg, .socials .project-pods .pod span:hover svg, .project-pods .pod .socials span:hover svg,
.nav-socials a:hover svg,
.nav-socials .project-pods .pod span:hover svg,
.project-pods .pod .nav-socials span:hover svg {
  fill: #374244;
}

.row {
  display: flex;
  margin-left: -1rem;
  margin-right: -1rem;
}
.row .col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (max-width: 576px) {
  .row.xs {
    flex-direction: column;
  }
  .row.xs .col {
    margin-top: 1rem;
  }
}
@media (max-width: 768px) {
  .row.sm {
    flex-direction: column;
  }
  .row.sm .col {
    margin-top: 1rem;
  }
}
@media (max-width: 992px) {
  .row.md {
    flex-direction: column;
  }
  .row.md .col {
    margin-top: 1rem;
  }
}
@media (max-width: 1200px) {
  .row.lg {
    flex-direction: column;
  }
  .row.lg .col {
    margin-top: 1rem;
  }
}
@media (max-width: 1400px) {
  .row.xl {
    flex-direction: column;
  }
  .row.xl .col {
    margin-top: 1rem;
  }
}
img.richtext-image.left {
  float: left;
  margin: 1em 1em 1em 0;
}
img.richtext-image.right {
  float: right;
  margin: 1em 0 1em 1em;
}

@media (max-width: 768px) {
  .breadcrumbs {
    display: none;
  }
}
.breadcrumbs ul {
  display: flex;
  margin: 1rem 0;
  padding: 0;
}
.breadcrumbs ul li {
  margin: 0;
  padding: 0;
}
.breadcrumbs ul li {
  list-style: none;
}
.breadcrumbs ul li + li::before {
  content: "»";
  padding: 0 0.5em;
}

.form_builder {
  padding-bottom: 2rem;
}
.form_builder form .field-wrapper {
  margin: 0 0 1rem;
  padding: 0;
}
.form_builder form .field-wrapper label {
  display: block;
}
.form_builder form .field-wrapper input,
.form_builder form .field-wrapper textarea,
.form_builder form .field-wrapper select {
  width: 100%;
  color: #fff;
  font-family: -apple-system, blinkmacsystemfont, segoe ui, helvetica, arial, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol;
  font-size: 1.028rem;
  font-size: clamp(1.028rem, -0.695vw + 1.167rem, 0.75rem);
  font-weight: 300;
  line-height: 1.75em;
}
.form_builder form .field-wrapper select option {
  background: #374244;
}
.form_builder form .field-wrapper select option:hover {
  background-color: #8dca31;
}
.form_builder form .field-wrapper.field-checkbox {
  display: flex;
  flex-direction: row;
}
.form_builder form .field-wrapper.field-checkbox input,
.form_builder form .field-wrapper.field-checkbox label {
  width: auto;
  display: inline-block;
  line-height: 1.5em;
}
.form_builder form .field-wrapper.field-checkbox label {
  flex: 1;
}
.form_builder form .field-wrapper.field-checkbox input {
  height: 1.5em;
  margin: 0 0.5em 0 0;
}
.form_builder form input,
.form_builder form textarea,
.form_builder form select {
  background: none;
  border: 1px solid #8dca31;
  padding: 0.25em 0.5em;
  box-sizing: border-box;
}
.form_builder form input:focus,
.form_builder form textarea:focus,
.form_builder form select:focus {
  outline: none;
}
.form_builder form button,
.form_builder form input[type=button],
.form_builder form input[type=submit] {
  color: #374244;
  background-color: #8dca31;
  font-weight: bold;
}
.form_builder form button a, .form_builder form button .project-pods .pod span, .project-pods .pod .form_builder form button span,
.form_builder form input[type=button] a,
.form_builder form input[type=button] .project-pods .pod span,
.project-pods .pod .form_builder form input[type=button] span,
.form_builder form input[type=submit] a,
.form_builder form input[type=submit] .project-pods .pod span,
.project-pods .pod .form_builder form input[type=submit] span {
  color: #374244;
}
.form_builder .helptext {
  font-size: 1.139rem;
  font-size: clamp(1.139rem, -0.3475vw + 1.2085rem, 1rem);
  line-height: 1.2em;
}

.map-container {
  width: 100%;
  padding-top: 100%;
  position: relative;
}
.map-container .map-inner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.map-container .map-inner .map {
  height: 100%;
}

header {
  padding: 2vw 0;
  display: flex;
  width: 100%;
}
header img {
  display: block;
  padding: 1rem;
  margin: auto;
  box-sizing: border-box;
}

@media (max-width: 992px) {
  .header-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 1em 0;
    box-sizing: border-box;
    max-width: var(--max-width);
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
    margin: auto;
  }
  .header-wrapper .nav-wrapper {
    min-width: 5vw;
  }
  .header-wrapper img,
.header-wrapper .container,
.header-wrapper .template-404 h1,
.template-404 .header-wrapper h1,
.header-wrapper .template-404 h2,
.template-404 .header-wrapper h2,
.header-wrapper nav.main ul.nav,
nav.main .header-wrapper ul.nav,
.header-wrapper .block-InfoPod {
    margin: 0;
    padding: 0;
  }
  .header-wrapper header {
    max-width: 80vw;
  }
  .header-wrapper .nav-wrapper {
    margin-left: 2rem;
  }
}
.nav-wrapper .nav-shroud {
  display: none;
}
.nav-wrapper .nav-button {
  font-size: min(3vw, 1rem);
  background: none;
  height: 3.15rem;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 0em;
  left: 0em;
}
@media (min-width: 992px) {
  .nav-wrapper .nav-button {
    display: none;
  }
}
.nav-wrapper .nav-button:focus {
  background: none;
}
.nav-wrapper .nav-button .nav-icon {
  display: inline-block;
}
.nav-wrapper .nav-button .nav-icon {
  text-indent: -99999px;
  position: relative;
  width: 3rem;
  max-width: 100%;
  height: 0.5rem;
  background-color: #8dca31;
  border-radius: 0.5rem;
}
.nav-wrapper .nav-button .nav-icon:before, .nav-wrapper .nav-button .nav-icon:after {
  content: "";
  position: absolute;
  height: 100%;
  left: 0px;
  background-color: inherit;
  border-radius: inherit;
}
.nav-wrapper .nav-button .nav-icon:before {
  top: -1.05rem;
  width: 75%;
}
.nav-wrapper .nav-button .nav-icon:after {
  top: 1.05rem;
  width: 50%;
}
.nav-wrapper input {
  display: none;
}
@media (min-width: 992px) {
  .nav-wrapper label,
.nav-wrapper .mobile-title {
    display: none;
  }
}

nav.main ul li {
  list-style: none;
}
@media (min-width: 992px) {
  nav.main {
    border-bottom: 0.5em solid #8dca31;
  }
  nav.main .socials div {
    text-align: right;
    white-space: nowrap;
  }
  nav.main .socials svg {
    fill: #fff;
  }
  nav.main .item > div > a, nav.main .project-pods .pod .item > div > span, .project-pods .pod nav.main .item > div > span {
    font-size: 1.2722rem;
    font-size: clamp(1.2722rem, 0.0695vw + 1.2583rem, 1.3rem);
  }
  nav.main a, nav.main .project-pods .pod span, .project-pods .pod nav.main span {
    position: relative;
    text-decoration: none;
    border: none;
    color: #fff;
    font-weight: 300;
    display: inline-block;
  }
  nav.main .active > a, nav.main .project-pods .pod .active > span, .project-pods .pod nav.main .active > span {
    font-weight: 600;
    color: #fff;
  }
  nav.main .active > a::before, nav.main .project-pods .pod .active > span::before, .project-pods .pod nav.main .active > span::before {
    position: absolute;
    bottom: -0.9em;
    left: calc(50% - 0.5em);
    content: " ";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0.5em 0.5em 0.5em;
    border-color: transparent transparent #8dca31 transparent;
  }
  nav.main ul {
    padding: 0 0 0.5em 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
  }
  nav.main ul li {
    display: block;
    padding: 0;
    list-style: none;
    position: relative;
    line-height: 1.5em;
    margin: 0 1em;
  }
  nav.main ul li:nth-child(2) {
    margin-left: 0;
  }
  nav.main ul li:last-child {
    margin-right: 0;
  }
  nav.main ul li.has-submenu > div {
    padding-right: 1.5em;
  }
  nav.main ul li.has-submenu > div::after {
    display: inline;
    content: " ";
    position: absolute;
    right: 0;
    top: 0.5em;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0.5em 0.5em 0 0.5em;
    border-color: #8dca31 transparent transparent transparent;
  }
  nav.main ul li.has-submenu:hover > ul {
    display: block;
  }
  nav.main ul li.has-submenu ul {
    min-width: 100%;
    font-size: 1rem;
    display: none;
    position: absolute;
    z-index: 9999;
    background: #374244;
    border: 1px solid #8dca31;
    padding: 0;
    margin: 0;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.18);
  }
  nav.main ul li.has-submenu ul ul {
    left: calc(100% - 1px);
    top: -1px;
  }
  nav.main ul li.has-submenu ul .active > div > a, nav.main ul li.has-submenu ul .project-pods .pod .active > div > span, .project-pods .pod nav.main ul li.has-submenu ul .active > div > span {
    color: #374244;
    background-color: #8dca31;
  }
  nav.main ul li.has-submenu ul .active > div > a a, nav.main ul li.has-submenu ul .project-pods .pod .active > div > span a, .project-pods .pod nav.main ul li.has-submenu ul .active > div > span a, nav.main ul li.has-submenu ul .active > div > a .project-pods .pod span, .project-pods .pod nav.main ul li.has-submenu ul .active > div > a span, nav.main ul li.has-submenu ul .project-pods .pod .active > div > span span, .project-pods .pod nav.main ul li.has-submenu ul .active > div > span span {
    color: #374244;
  }
  nav.main ul li.has-submenu ul .active > div > a::before, nav.main ul li.has-submenu ul .project-pods .pod .active > div > span::before, .project-pods .pod nav.main ul li.has-submenu ul .active > div > span::before {
    content: none;
  }
  nav.main ul li.has-submenu ul li {
    padding: 0;
    margin: 0;
    transition: background 0.2s ease-in-out;
  }
  nav.main ul li.has-submenu ul li.has-submenu::after {
    display: inline;
    content: " ";
    position: absolute;
    right: 0.5em;
    top: calc(50% - 0.5em);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0.5em 0 0.5em 0.5em;
    border-color: transparent transparent transparent #8dca31;
  }
  nav.main ul li.has-submenu ul li.has-submenu > div::after {
    content: none;
  }
  nav.main ul li.has-submenu ul li.has-submenu.active {
    background: #8dca31;
  }
  nav.main ul li.has-submenu ul li.has-submenu.active::after {
    border-color: transparent transparent transparent #374244;
  }
  nav.main ul li.has-submenu ul li:hover {
    background: #8dca31;
  }
  nav.main ul li.has-submenu ul li:hover > div > a, nav.main ul li.has-submenu ul .project-pods .pod li:hover > div > span, .project-pods .pod nav.main ul li.has-submenu ul li:hover > div > span {
    color: #374244;
  }
  nav.main ul li.has-submenu ul li a, nav.main ul li.has-submenu ul li .project-pods .pod span, .project-pods .pod nav.main ul li.has-submenu ul li span {
    padding: 0.35em 1.1em;
    display: block;
    white-space: nowrap;
  }
  nav.main ul li.has-submenu ul li a::before, nav.main ul li.has-submenu ul li .project-pods .pod span::before, .project-pods .pod nav.main ul li.has-submenu ul li span::before {
    position: relative;
  }
}
@media (max-width: 992px) {
  nav.main ul.nav {
    transform: translateX(275px);
    transition: all 0.5s ease;
    padding: 0;
    margin: 0;
  }
  nav.main .nav-shroud {
    opacity: 0;
    z-index: 9999;
    content: " ";
    position: fixed;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: left 0s ease-in-out 0.2s, opacity 0.2s ease-in-out;
  }
  nav.main .nav-shroud::before {
    content: none;
  }
  nav.main li.socials {
    display: block;
    width: 100%;
  }
  nav.main li.socials a, nav.main li.socials .project-pods .pod span, .project-pods .pod nav.main li.socials span {
    padding: 0.75em 0;
    font-size: 1.25em;
    line-height: 1em;
    text-align: center;
  }
  nav.main li.socials svg {
    fill: #fff;
  }
  input:checked + nav.main .nav-shroud {
    transition: left 0s ease-in-out, opacity 0.2s ease-in-out;
    left: 0%;
    opacity: 1;
  }
  input:checked + nav.main ul.nav {
    transform: translateX(0px);
    box-shadow: 0 0 5vw #000;
  }
  nav.main a, nav.main .project-pods .pod span, .project-pods .pod nav.main span {
    text-decoration: none;
    border-bottom: none;
  }
  nav.main label {
    position: relative;
    font-size: 0.75rem;
    width: 3.6em;
  }
  nav.main label::before {
    position: absolute;
    content: " ";
    width: 0;
    height: 0;
    left: 0.9em;
    top: calc(50% - 0.5em);
    border-style: solid;
    border-width: 0.9em 0.9em 0 0.9em;
    border-color: #8dca31 transparent transparent transparent;
  }
  nav.main label span {
    display: none;
  }
  nav.main ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: static;
    padding: 0;
    margin: 0;
  }
  nav.main ul ul {
    display: none;
  }
  nav.main ul input:checked + ul {
    display: flex;
  }
  nav.main > ul {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.18);
    background: #374244;
    position: fixed;
    overflow-y: auto;
    top: 0;
    right: 0;
    bottom: 0;
    width: 275px;
    z-index: 10003;
    height: 100%;
  }
  nav.main > ul ul {
    background: #4e5d60;
  }
  nav.main > ul ul ul {
    background: #65797c;
  }
  nav.main > ul ul ul ul {
    background: #7e9396;
  }
  nav.main > ul ul ul ul ul {
    background: #9aaaad;
  }
  nav.main > ul ul ul ul ul ul {
    background: #b6c2c4;
  }
  nav.main > ul li {
    padding: 0;
  }
  nav.main > ul li div {
    border-bottom: 1px solid #8dca31;
    display: flex;
  }
  nav.main > ul li a, nav.main > ul li .project-pods .pod span, .project-pods .pod nav.main > ul li span {
    flex: 1;
    padding: 0.75em 1.1em;
    display: block;
    white-space: nowrap;
    color: #fff;
    font-size: 1.15rem;
    line-height: 1em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  nav.main > ul li.active > div > a, nav.main > ul .project-pods .pod li.active > div > span, .project-pods .pod nav.main > ul li.active > div > span {
    font-weight: 600;
    text-decoration: underline;
  }
  nav.main > ul.nav .mobile-title {
    color: #374244;
    background-color: #8dca31;
    padding: 0.5em 1em;
    font-weight: bold;
    font-size: 1.15rem;
    display: flex;
    align-items: center;
  }
  nav.main > ul.nav .mobile-title a, nav.main > ul.nav .mobile-title .project-pods .pod span, .project-pods .pod nav.main > ul.nav .mobile-title span {
    color: #374244;
  }
  nav.main > ul.nav .mobile-title span {
    flex: 1;
    display: inline;
    line-height: 1em;
    padding: 0;
    margin: 0;
  }
  nav.main > ul.nav .mobile-title label {
    overflow: hidden;
    position: relative;
    border: none;
    padding: 0;
    width: 2em;
    height: 2em;
    background: transparent;
    color: #374244;
    font: inherit;
    text-indent: 100%;
    cursor: pointer;
    display: block;
  }
  nav.main > ul.nav .mobile-title label:before, nav.main > ul.nav .mobile-title label:after {
    border: none;
    position: absolute;
    top: 15%;
    left: calc(50% - 0.125em);
    width: 0.25em;
    height: 70%;
    transform: rotate(45deg);
    background: currentColor;
    content: "";
  }
  nav.main > ul.nav .mobile-title label:after {
    transform: rotate(-45deg);
  }
}

.banner_image {
  position: relative;
}
.banner_image picture {
  display: block;
  height: 100%;
  width: 100%;
  position: relative;
}
.banner_image picture::after {
  box-shadow: inset 0 0 min(10vw, 150px) #000;
  content: " ";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}
.banner_image img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
  position: relative;
}
.banner_image .header {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  padding: 0.75em 0;
}
@media (max-width: 768px) {
  .banner_image .header {
    position: relative;
  }
}
.banner_image .header h1 {
  font-size: clamp(1.7rem, 7vw, 3.052rem);
  margin-bottom: 0.3em;
}
.banner_image .header p,
.banner_image .header h2 {
  margin: 0;
  font-size: clamp(1rem, 5vw, 1.5rem);
  line-height: 1.75em;
  font-weight: 300;
  font-family: -apple-system, blinkmacsystemfont, segoe ui, helvetica, arial, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol;
  letter-spacing: 0.005em;
}

#footer .slogan {
  color: #374244;
  background-color: #8dca31;
  padding: 1.5em 0;
}
#footer .slogan a, #footer .slogan .project-pods .pod span, .project-pods .pod #footer .slogan span {
  color: #374244;
}
#footer .slogan p {
  text-align: center;
  font-size: 1.472rem;
  font-size: clamp(1.472rem, 0.695vw + 1.333rem, 1.75rem);
  line-height: 1.35em;
}
#footer .slogan p + p {
  margin-top: 0.5em;
}
#footer .slogan a, #footer .slogan .project-pods .pod span, .project-pods .pod #footer .slogan span {
  white-space: nowrap;
}
#footer .footer {
  padding: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
}
#footer .socials {
  font-size: 1.583rem;
  font-size: clamp(1.583rem, 1.0425vw + 1.3745rem, 2rem);
}
#footer .socials a svg, #footer .socials .project-pods .pod span svg, .project-pods .pod #footer .socials span svg {
  fill: #8dca31;
}
#footer .socials a:hover svg, #footer .socials .project-pods .pod span:hover svg, .project-pods .pod #footer .socials span:hover svg {
  fill: #fff;
}
#footer .copy {
  font-size: 0.917rem;
  font-size: clamp(0.917rem, -1.0425vw + 1.1255rem, 0.5rem);
  line-height: 1.25em;
}

.project-pods {
  display: flex;
  flex-wrap: wrap;
  gap: clamp(2em, 4vw, 5em);
  padding-bottom: 2em;
}
.project-pods .pod {
  flex-basis: 27rem;
  flex-grow: 1;
  box-sizing: border-box;
  padding: 0;
  display: flex;
  color: #fff;
  border-bottom: none;
}
.project-pods .pod:hover span {
  border-bottom: dotted 1px transparent;
}
.project-pods .pod span {
  font-weight: normal;
}
.project-pods .pod .pod-img {
  display: inline-block;
  padding: 0;
  margin: 0;
  position: relative;
  flex-basis: 200px;
  flex-grow: 0;
  flex-shrink: 1;
}
.project-pods .pod .pod-img img {
  display: block;
  padding: 0;
  margin: 0;
}
.project-pods .pod .pod-img picture {
  position: relative;
  display: block;
}
.project-pods .pod .pod-img picture:after {
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.75);
  content: " ";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}
.project-pods .pod .pod-details {
  flex-shrink: 0.1;
  flex-basis: 75%;
  padding-left: 1em;
  display: flex;
  flex-direction: column;
}
.project-pods .pod .pod-details h2 {
  padding: 0 0 0.5em 0;
  margin: 0;
  font-size: 1.361rem;
  font-size: clamp(1.361rem, 0.3475vw + 1.2915rem, 1.5rem);
  line-height: 1.5em;
  margin-top: -0.25em;
}
.project-pods .pod .pod-details p {
  font-size: 1.139rem;
  font-size: clamp(1.139rem, -0.3475vw + 1.2085rem, 1rem);
  line-height: 1.5em;
  padding: 0;
  margin: 0;
  flex: 1;
}
.project-pods .pod .pod-details div {
  text-align: right;
}

.slider {
  position: relative;
}
.slider .slide {
  display: block;
  transition: 0.2s all linear;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 1;
}
.slider .slide label {
  cursor: zoom-in;
}
.slider input {
  display: none;
}
.slider input:checked + .slide {
  opacity: 1;
  z-index: 2;
}
.slider .slide-nav {
  width: 100%;
  text-align: center;
  letter-spacing: 0.25rem;
}
.slider .slide-nav label {
  position: relative;
  z-index: 3;
  line-height: 1em;
  display: inline-block;
  color: #fff;
  font-size: min(4rem, max(3vw, 2.5rem));
  text-shadow: 0px 0px 1rem black;
  cursor: pointer;
}
.slider img {
  max-width: 100%;
  height: auto;
  cursor: pointer;
  border: 0.1em solid #8dca31;
  box-sizing: border-box;
}
.slider input#slide-1:checked ~ .slide-nav .slide-label-1 {
  color: #8dca31;
}
.slider input#slide-2:checked ~ .slide-nav .slide-label-2 {
  color: #8dca31;
}
.slider input#slide-3:checked ~ .slide-nav .slide-label-3 {
  color: #8dca31;
}
.slider input#slide-4:checked ~ .slide-nav .slide-label-4 {
  color: #8dca31;
}
.slider input#slide-5:checked ~ .slide-nav .slide-label-5 {
  color: #8dca31;
}
.slider input#slide-6:checked ~ .slide-nav .slide-label-6 {
  color: #8dca31;
}
.slider input#slide-7:checked ~ .slide-nav .slide-label-7 {
  color: #8dca31;
}
.slider input#slide-8:checked ~ .slide-nav .slide-label-8 {
  color: #8dca31;
}
.slider input#slide-9:checked ~ .slide-nav .slide-label-9 {
  color: #8dca31;
}
.slider input#slide-10:checked ~ .slide-nav .slide-label-10 {
  color: #8dca31;
}
.slider input#slide-11:checked ~ .slide-nav .slide-label-11 {
  color: #8dca31;
}
.slider input#slide-12:checked ~ .slide-nav .slide-label-12 {
  color: #8dca31;
}
.slider input#slide-13:checked ~ .slide-nav .slide-label-13 {
  color: #8dca31;
}
.slider input#slide-14:checked ~ .slide-nav .slide-label-14 {
  color: #8dca31;
}
.slider input#slide-15:checked ~ .slide-nav .slide-label-15 {
  color: #8dca31;
}
.slider input#slide-16:checked ~ .slide-nav .slide-label-16 {
  color: #8dca31;
}
.slider input#slide-17:checked ~ .slide-nav .slide-label-17 {
  color: #8dca31;
}
.slider input#slide-18:checked ~ .slide-nav .slide-label-18 {
  color: #8dca31;
}
.slider input#slide-19:checked ~ .slide-nav .slide-label-19 {
  color: #8dca31;
}
.slider input#slide-20:checked ~ .slide-nav .slide-label-20 {
  color: #8dca31;
}
.slider input#slide-21:checked ~ .slide-nav .slide-label-21 {
  color: #8dca31;
}
.slider input#slide-22:checked ~ .slide-nav .slide-label-22 {
  color: #8dca31;
}
.slider input#slide-23:checked ~ .slide-nav .slide-label-23 {
  color: #8dca31;
}
.slider input#slide-24:checked ~ .slide-nav .slide-label-24 {
  color: #8dca31;
}
.slider input#slide-25:checked ~ .slide-nav .slide-label-25 {
  color: #8dca31;
}
.slider input#slide-26:checked ~ .slide-nav .slide-label-26 {
  color: #8dca31;
}
.slider input#slide-27:checked ~ .slide-nav .slide-label-27 {
  color: #8dca31;
}
.slider input#slide-28:checked ~ .slide-nav .slide-label-28 {
  color: #8dca31;
}
.slider input#slide-29:checked ~ .slide-nav .slide-label-29 {
  color: #8dca31;
}
.slider input#slide-30:checked ~ .slide-nav .slide-label-30 {
  color: #8dca31;
}

.lightbox input {
  display: none;
}
.lightbox label {
  display: none;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.75);
  transition: opacity 0.5s;
  align-items: center;
  justify-content: center;
}
.lightbox label > * {
  position: relative;
}
.lightbox label > *::after {
  content: "✕";
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: #fff;
  line-height: 1em;
  font-size: 2rem;
  text-shadow: 0px 0px 0.2em black;
  cursor: pointer;
}
.lightbox label img {
  box-shadow: 0px 0px 2rem 0.33rem black;
  max-width: calc(100vw - 2.5rem);
  max-height: calc(100vh - 2.5rem);
  min-width: 10rem;
  min-height: 10rem;
  height: auto;
  width: auto;
  display: block;
  padding: 0;
  margin: 0;
  border: 0.1em solid #8dca31;
  box-sizing: border-box;
  background: #374244;
  background: linear-gradient(45deg, #374244 0%, #596b6e 50%, black 100%);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
}
.lightbox input:checked + label {
  display: flex;
  animation-name: fade-in;
  animation-duration: 0.2s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.template-project .slider {
  width: 100%;
  height: auto;
  max-width: 640px;
  padding-bottom: 1em;
  margin: auto;
}
.template-project .slider .sizer {
  width: 100%;
  position: relative;
  padding-top: 66.71875%;
  height: 0;
}
@supports (aspect-ratio: 1.4988290398) {
  .template-project .slider .sizer {
    padding: 0;
    height: 100%;
    aspect-ratio: 1.4988290398;
  }
  .template-project .slider .sizer picture {
    aspect-ratio: 1.4988290398;
  }
}
.template-project .slider .sizer picture {
  width: 100%;
  height: 100%;
  max-width: 640px;
  max-height: 427px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.template-project .slider .sizer picture img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  display: block;
  box-sizing: border-box;
}
.template-project .slider .slide-nav {
  position: absolute;
  bottom: 0em;
}
@media (max-width: 992px) {
  .template-project .slider .slide-nav {
    bottom: -2.5em;
  }
}

.template-404 h1 {
  padding-top: 1em;
}
.template-404 h2 {
  padding-bottom: 1em;
}

.logo {
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 575px;
  margin: auto;
  gap: clamp(0.75rem, 2.5vw, 1.5rem);
}
@media (max-width: 992px) {
  .logo {
    margin: 0;
  }
}
.logo .logo-icon {
  flex: 1;
}
.logo .logo-text {
  flex: 5.5;
}
.logo img,
.logo svg {
  max-width: 100%;
  padding: 0;
  margin: 0;
  display: block;
}

:root {
  --max-width: 100%;
  --container-padding: 20px;
}

@media (min-width: 576px) {
  :root {
    --max-width: 540px;
    --container-padding: 0;
  }
}
@media (min-width: 768px) {
  :root {
    --max-width: 720px;
  }
}
@media (min-width: 992px) {
  :root {
    --max-width: 960px;
  }
}
@media (min-width: 1200px) {
  :root {
    --max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  :root {
    --max-width: 1320px;
  }
}
::selection {
  background: #8dca31;
  color: #374244;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  padding: 0;
  margin: 0;
  background: #374244;
  overflow-y: scroll;
}
body.is-loading * {
  transition: none !important;
  animation: none !important;
}

a, .project-pods .pod span {
  transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
  color: #8dca31;
  text-decoration: none;
  border-bottom: dotted 1px;
}
a.no-b, .project-pods .pod span.no-b {
  border-bottom: none;
}
a svg, .project-pods .pod span svg {
  transition: fill 0.2s ease;
}
a:hover, .project-pods .pod span:hover {
  color: #8dca31;
  border-bottom-color: transparent;
}
a:hover svg, .project-pods .pod span:hover svg {
  fill: #8dca31;
}

strong,
b {
  font-weight: 600;
}

em,
i {
  font-style: italic;
}

p {
  margin-bottom: 1.25em;
}

ul,
ol,
dl,
table,
blockquote {
  margin: 0 0 2em 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
}
h1 a, h1 .project-pods .pod span, .project-pods .pod h1 span,
h2 a,
h2 .project-pods .pod span,
.project-pods .pod h2 span,
h3 a,
h3 .project-pods .pod span,
.project-pods .pod h3 span,
h4 a,
h4 .project-pods .pod span,
.project-pods .pod h4 span,
h5 a,
h5 .project-pods .pod span,
.project-pods .pod h5 span,
h6 a,
h6 .project-pods .pod span,
.project-pods .pod h6 span {
  color: inherit;
  text-decoration: none;
}
h1 em,
h2 em,
h3 em,
h4 em,
h5 em,
h6 em {
  font-style: normal;
  font-weight: 300;
}

h1 {
  text-decoration: underline #8dca31;
}

sub {
  font-size: 0.8em;
  position: relative;
  top: 0.5em;
}

sup {
  font-size: 0.8em;
  position: relative;
  top: -0.5em;
}

hr {
  border-top: solid 1px #e0e0e0;
  border: 0;
  margin-bottom: 1.5em;
}

blockquote {
  border-left: solid 0.5em #e0e0e0;
  font-style: italic;
  padding: 1em 0 1em 2em;
}

section.special,
article.special {
  text-align: center;
}

/*# sourceMappingURL=rhgs.css.map */
