.flex_block,
.flex_stream {
  display: flex;

  .container {
    flex: 1;
    box-sizing: border-box;
    max-width: none;
    margin: 2em;
    width: 100%;
  }
}

.flex_stream {
  & > .container {
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

@media (max-width: $screen_xs) {
  .flex_stream {
    flex-direction: column;
    margin-bottom: var(--container-padding);
    & > .container {
      margin: 0;
      width: 100%;
    }
  }
}
