{% extends "base.html" %}

{% load cssmodules wagtailcore_tags wagtailimages_tags %}

{% wagtail_site as current_site %}

{% block title %}
    {% if current_site and current_site.site_name %}
        {{ current_site.site_name }}
    {% else %}
        {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}
    {% endif %}
{% endblock title %}

{% block title_suffix %}
{% endblock title_suffix %}

{% block content %}
    {% cssmodule "layout.module.css" as layout %}
    {% cssmodule "banner.module.css" as banner %}
    <div class="{{ banner.banner }}">
        {% picture page.banner_image format-{avif,webp,jpeg} fill-{1920x700,1600x484,800x600} %}
        <div class="{{ banner.header }}">
            <div class="{{ layout.container }}">
                <h1>{{ site.site_name }}</h1>
                <h2>Design, build and year round Maintenance</h2>
            </div>
        </div>
    </div>
    {% include_block page.body %}
{% endblock content %}
