{% load wagtailcore_tags wagtailimages_tags %}

<div class="project-pods container">
{% for project in projects %}
    {% with project=project.specific %}
    <a href="{% pageurl project %}" class="pod">
        <div class="pod-img">
            <picture>
                {% image project.banner_image fill-200x200 format-jpeg as image_jpg %}
                {% image project.banner_image fill-200x200 format-webp as image_webp %}

                <source srcset="{{ image_webp.url }}" type="image/webp">
                <source srcset="{{ image_jpg.url }}" type="image/jpeg">

                {% image project.banner_image fill-200x200 format-jpeg %}
            </picture>
        </div>
        <div class="pod-details">
            <h2>
                {{ project.title }}
            </h2>
            <p>
            {% if project.short_description|length > 0 %}
                {{ project.short_description }}
            {% else %}
                {{ project.body | striptags | truncatechars:150 }}
            {% endif %}
            </p>
            <div>
                <span href="{% pageurl project %}">Read more</span>
            </div>
        </div>
    </a>
    {% endwith %}
{% endfor %}
</div>
