{% extends "base.html" %}

{% load cssmodules wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-project{% endblock %}

{% block header %}
    {% cssmodule "layout.module.css" as layout %}
    {% cssmodule "banner.module.css" as banner %}
    <div class="{{ banner.banner }}">
        {% picture page.banner_image format-{avif,webp,jpeg} fill-{1920x500,1600x484,800x400,640x400} %}

        <div class="{{ banner.header }}">
            <div class="{{ layout.container }}">
                <h1>{{ page.title }}</h1>
                {% if page.sub_title %}<h2>{{ page.sub_title }}</h2>{% endif %}
            </div>
        </div>
    </div>
{% endblock header %}

{% block content %}
    {% cssmodule "layout.module.css" as layout %}
    {% cssmodule "project.module.css" as project %}
    <div>
        <div class="{{ layout.container }}">
            <div {% class layout.row layout.stackMd %}>
                <div class="{{ layout.col }}">
                    {% for image in page.images.all %}
                        <dialog class="{{ project.lightbox }}" id="image-dialog-{{ image.id }}" closedby="any">
                            {% picture image.image format-{avif,webp,jpeg} max-{1980x1080,1024x768,800x600} %}
                            <button commandfor="image-dialog-{{ image.id }}" command="close">&#x2715;</button>
                        </dialog>
                    {% endfor %}
                    <div class="{{ project.slider }}" data-slider>
                        <div>
                            <div class="{{ project.sizer }}">
                                {% for image in page.images.all %}
                                    <input type="radio" name="slider" id="slide-{{ forloop.counter }}" {% if forloop.first %}checked{% endif %} />
                                    <div class="{{ project.slide }}">
                                        <button command="show-modal" commandfor="image-dialog-{{ image.id }}">
                                            {% picture image.image format-{avif,webp,jpeg} max-640x427 %}
                                        </button>
                                    </div>
                                {% endfor %}
                                {% if page.images.all|length > 1 %}
                                    <div class="{{ project.nav }}">
                                        {% for image in page.images.all %}
                                            <label for="slide-{{ forloop.counter }}">&#8226;</label>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="{{ layout.col }}">
                    {{ page.body|richtext }}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
