{% load wagtailcore_tags wagtailimages_tags %}

<div class="project-pods container">
    {% for project in projects %}
        {% with project=project.specific %}
            <a aria-label="{{ project.title }} details" href="{% pageurl project %}" class="pod">
                <h2>
                    {{ project.title }}
                </h2>
                <div class="pod-inner">
                    <div class="pod-img">
                        {% picture project.banner_image format-{avif,webp,jpeg} fill-200x200 %}
                    </div>
                    <div class="pod-details">
                        <p>
                            {% if project.short_description|length > 0 %}
                                {{ project.short_description }}
                            {% else %}
                                {{ project.body | striptags | truncatechars:150 }}
                            {% endif %}
                        </p>
                        <div>
                            <span>Read more</span>
                        </div>
                    </div>
                </div>
            </a>
        {% endwith %}
    {% endfor %}
    {% if not projects.count|divisibleby:"2" %}
        <hr class="pod" />
    {% endif %}
</div>
