{% load cssmodules navigation_tags wagtailcore_tags %}
{% cssmodule "nav.module.css" as nav %}

<ul role="menu">
    {% for child in menuitems_children %}
        <li{% if child.active or child.show_dropdown %} class="{% if child.active %}{{ nav.active }} {% endif %}{% if child.show_dropdown %}{{ nav.hasSubmenu }}{% endif %}"{% endif %}>
            <div>
                <a href="{% pageurl child %}" role="menuitem" aria-label="{{ child.title }}">{{ child.title }}</a>
                {% if child.show_dropdown %}
                    <label for="nav-{{ menuitem.title|lower|cut:" " }}"><span>open</span></label>
                {% endif %}
            </div>
            {% if child.show_dropdown %}
                <input type="checkbox" name="nav-{{ menuitem.title|lower|cut:" " }}" id="nav-{{ menuitem.title|lower|cut:" " }}" />
                {% top_menu_children parent=child calling_page=calling_page %}
            {% endif %}
        </li>
    {% endfor %}
</ul>
