{% load cssmodules navigation_tags wagtailcore_tags %}
{% cssmodule "nav.module.css" as nav %}
{% get_site_root as site_root %}

{% for menuitem in menuitems %}
    <li class="{{ nav.item }}{% if menuitem.active %} {{ nav.active }}{% endif %}{% if menuitem.show_dropdown %} {{ nav.hasSubmenu }}{% endif %}">
        <div>
            <a href="{% pageurl menuitem %}" aria-label="{{ menuitem.title }}">{{ menuitem.title }}</a>
            {% if menuitem.show_dropdown %}
                <label for="nav-{{ menuitem.title|lower|cut:" " }}"><span>open</span></label>
            {% endif %}
        </div>
        {% if menuitem.show_dropdown %}
            <input type="checkbox" name="nav-{{ menuitem.title|lower|cut:" " }}" id="nav-{{ menuitem.title|lower|cut:" " }}" />
            {% top_menu_children parent=menuitem calling_page=calling_page %}
        {% endif %}
    </li>
{% endfor %}
