{% load cssmodules wagtailcore_tags %}
{% cssmodule "layout.module.css" as layout %}
{% cssmodule "form.module.css" as forms %}

<div class="{{ layout.container }}">
    <div class="{{ forms.formBuilder }}">
        {% if value.title %}
            <h2>{{ value.title }}</h2>
        {% endif %}
        <form action="{% pageurl page %}" method="POST">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {% for field in form %}
                <div class="{{ forms.field }}{% if field.field.widget.input_type == 'checkbox' %} {{ forms.checkbox }}{% endif %}">
                    {{ field.errors }}
                    {% if field.field.widget.input_type == 'checkbox' %}
                        {{ field }}
                        {{ field.label_tag }}
                    {% else %}
                        {{ field.label_tag }}
                        {{ field }}
                    {% endif %}
                </div>
            {% endfor %}

            <div class="{{ forms.field }}">
                <input type="submit" value="{{ page.submit_text }}" />
            </div>
        </form>
    </div>
</div>
